{% extends 'base.html' %}


{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    {% if validlink %}
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">فرم تغییر رمز عبور</h1>
            <p>برای تغییر رمز عبور خود وارد شوید.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form method="POST">
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="signupSimpleLoginPassword">کلمه عبور</label>

                </div>

                <div class="input-group input-group-merge">
                    <input type="password" class=" form-control form-control-lg text-center" name="new_password1"
                        id="signupSimpleLoginPassword" placeholder="ٍEnter new password"
                        aria-label="Enter new password" required>
                </div>
                <span class="invalid-feedback">لطفا یک گذر واژه معتبر وارد کنید.</span>
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="signupSimpleLoginPassword">تکرار کلمه عبور</label>

                </div>

                <div class="input-group input-group-merge">
                    <input type="password" class=" form-control form-control-lg text-center" name="new_password2"
                        id="signupSimpleLoginPassword" placeholder="ٍPassword confirm"
                        aria-label="Enter new password" required>
                </div>
            </div>
            <!-- End Form -->

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">تایید</button>
            </div>

            <div class="text-center">
                <p>حساب کاربری ندارید؟ <a class="link" href="./page-signup-simple.html">اینجا ثبت نام کنید</a></p>
            </div>
        </form>

        <!-- End Form -->
    </div>
    {% else %}
    <h2>انقضای لینک</h2>
  <p>لینک تغییر رمز عبور منقضی شده است. دوباره وارد لینک درخواست تغییر رمز شوید.</p>
  <a href="{% url 'accounts:password_reset' %}">ارسال لینک رمز عبور</a>
    {% endif %}
</div>

{% endblock content %}


{% block extra_js %}
<script>
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
</script>
{% endblock extra_js %}